/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.flower-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    float: left;
    background-color: #f9f9f9;
}

.flower-card h2 {
    margin-top: 0;
}

.flower-card p {
    margin-bottom: 0;
}

.flower-card button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.flower-card button:hover {
    background-color: #45a049;
}
